.mod-info-popup {
    position: fixed;
    left: 35%;
    top: 25%;

    background-color: black;

    width: 450px;
    height: 550px;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 10% 90%;

    z-index: 20;
}