body {
  background-color: black;
  margin: 0;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  background-color: rgba(0, 0, 0, 0.3);
}


@media screen and  (max-width: 768px) {
  .mod-card-list {
      width: 100vw;
  }
}

.nav-main {
  background-color: #1B1B1B;
  color: white;
  width: 100vw;
  height: 55px;
  display: flex;
}

.mod-card-list {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.home-icon {
  border: 1px solid lightgray;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  left: 10%;
  width: 47px;
  height: 47px;
}

.central-nav-buttons {
  position: absolute;
  left: 40%;
  top: 1%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.central-nav-buttons button {
  width: 70px;
  height: 40px;
  border-radius: 15px;
  background-color: #1B1B1B;
  color: #FFF;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
}

.central-nav-button-mods {
  display: grid;
  grid-template-columns: 45% 55%;
  margin-bottom: 5px;
}

.central-nav-buttons-dropdown-arrow {
  width: 15px;
  height: 15px;
}

.central-nav-buttons button:hover {
  background-color: #88978f;
  color: white;
}

